h1 
{
    /* font: 80% georgia, sans-serif;
    color: dimgray */
}


.navbar-brand {
    padding:10px;
}


.centerthumbnails {
    text-align:center;
    word-break:break-all;
}


body {
    min-height: 100%;
    position: relative;
    margin: 0;
    background-color: rgb(241, 241, 241);
  }
  
footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
  }


.navbar {
    background: gray;
}


@media (max-width: 992px) {
    .navbar {
        background: #1F9BCF;
    }
}


.test {
    border-style: solid;
    border-width: 1px;
    border-color: #1F9BCF;
}