

.navbar-brand {
    padding:10px;
}


.centerthumbnails {
    text-align:center;
    word-break:break-all;
}


body {
    min-height: 100%;
    position: relative;
    margin: 0;
    background-color: rgb(241, 241, 241);
  }
  
footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
  }


.navbar {
    background: gray;
}


@media (max-width: 1200px) {
    .visimage {
        width: 500;
    }
}

@media (max-width: 992px) {
    .navbar {
        background: #1F9BCF;
    }

    .visimage {
        width: 450;
    }
}

@media (max-width: 768px) {
    .visimage {
        width: 400;
    }
}

@media (max-width: 576px) {
    .visimage {
        width: 350;
    }
}


.selectedimage {
    border-style: solid;
    border-width: 4px;
    border-color: #1F9BCF;
}